:root {
  --color-primary: 41, 121, 169; /* Converted #2979a9 to RGB */
  --color-clifford: 218, 55, 61; /* Converted #da373d to RGB */
  --color-foreground: 0, 0, 0; /* Converted #000 */
  --color-foreground-subtitle: 74, 85, 104; /* Converted #4a5568 to RGB */
  --color-background: 255, 255, 255; /* Converted #fff */
  --color-neutral-50: 255, 255, 255; /* Converted #ffffff */
  --color-neutral-100: 249, 250, 251; /* Converted #f9fafb to RGB */
  --color-neutral-200: 243, 244, 246; /* Converted #f3f4f6 to RGB */
  --color-neutral-300: 229, 231, 235; /* Converted #e5e7eb to RGB */
  --color-neutral-400: 209, 213, 219; /* Converted #d1d5db to RGB */
  --color-neutral-500: 156, 163, 175; /* Converted #9ca3af to RGB */
  --color-neutral-600: 107, 114, 128; /* Converted #6b7280 to RGB */
  --color-neutral-700: 75, 85, 99; /* Converted #4b5563 to RGB */
  --color-neutral-800: 55, 65, 81; /* Converted #374151 to RGB */
  --color-neutral-900: 31, 41, 55; /* Converted #1f2937 to RGB */
  --color-neutral-950: 17, 24, 39; /* Converted #111827 to RGB */
  --color-danger: 239, 68, 68; /* Converted #ef4444 to RGB */
}

:root {
  --color-primary: 41, 121, 169; /* Converted #2979a9 to RGB */
  --color-clifford: 218, 55, 61; /* Converted #da373d to RGB */
  --color-foreground: 0, 0, 0; /* Converted #000 */
  --color-foreground-subtitle: 74, 85, 104; /* Converted #4a5568 to RGB */
  --color-background: 255, 255, 255; /* Converted #fff */
  --color-neutral-50: 255, 255, 255; /* Converted #ffffff */
  --color-neutral-100: 249, 250, 251; /* Converted #f9fafb to RGB */
  --color-neutral-200: 243, 244, 246; /* Converted #f3f4f6 to RGB */
  --color-neutral-300: 229, 231, 235; /* Converted #e5e7eb to RGB */
  --color-neutral-400: 209, 213, 219; /* Converted #d1d5db to RGB */
  --color-neutral-500: 156, 163, 175; /* Converted #9ca3af to RGB */
  --color-neutral-600: 107, 114, 128; /* Converted #6b7280 to RGB */
  --color-neutral-700: 75, 85, 99; /* Converted #4b5563 to RGB */
  --color-neutral-800: 55, 65, 81; /* Converted #374151 to RGB */
  --color-neutral-900: 31, 41, 55; /* Converted #1f2937 to RGB */
  --color-neutral-950: 17, 24, 39; /* Converted #111827 to RGB */
  --color-danger: 239, 68, 68; /* Converted #ef4444 to RGB */
}

.loading-container .loading-element.loading-spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#quill-container,
.blog-content.ql-container {
  border-color: transparent;
}
#quill-container.edit,
.blog-content.ql-container.edit {
  overflow-y: auto;
  max-height: 70vh;
}
#quill-container#editor-result .ql-editor,
.blog-content.ql-container#editor-result .ql-editor {
  padding-left: 0;
  padding-right: 0;
}
#quill-container .ql-editor,
.blog-content.ql-container .ql-editor {
  border: none;
  /* Paragraph */
}
#quill-container .ql-editor > *,
.blog-content.ql-container .ql-editor > * {
  font-family: Quicksand, system-ui, sans-serif;
}
#quill-container .ql-editor strong,
.blog-content.ql-container .ql-editor strong {
  font-weight: 400;
}
#quill-container .ql-editor h1,
.blog-content.ql-container .ql-editor h1 {
  font-size: 2em; /* 40px */
  line-height: 3rem; /* 48px */
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 32px;
}
#quill-container .ql-editor h1:nth-child(1),
.blog-content.ql-container .ql-editor h1:nth-child(1) {
  margin-top: 0;
}
#quill-container .ql-editor h2,
.blog-content.ql-container .ql-editor h2 {
  font-size: 1.75em; /* 32px */
  line-height: 2.5rem; /* 40px */
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 16px;
}
#quill-container .ql-editor h2:nth-child(1),
.blog-content.ql-container .ql-editor h2:nth-child(1) {
  margin-top: 0;
}
#quill-container .ql-editor h3,
.blog-content.ql-container .ql-editor h3 {
  font-size: 1.5em; /* 28px */
  line-height: 2.25rem; /* 36px */
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 8px;
}
#quill-container .ql-editor h3:nth-child(1),
.blog-content.ql-container .ql-editor h3:nth-child(1) {
  margin-top: 0;
}
#quill-container .ql-editor h4,
.blog-content.ql-container .ql-editor h4 {
  font-size: 1.25em; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 500;
}
#quill-container .ql-editor h4:nth-child(1),
.blog-content.ql-container .ql-editor h4:nth-child(1) {
  margin-top: 0;
}
#quill-container .ql-editor h5,
.blog-content.ql-container .ql-editor h5 {
  font-size: 1.25em; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 500;
}
#quill-container .ql-editor h5:nth-child(1),
.blog-content.ql-container .ql-editor h5:nth-child(1) {
  margin-top: 0;
}
#quill-container .ql-editor p,
.blog-content.ql-container .ql-editor p {
  font-size: 1.25em;
  line-height: 1.5rem;
  color: #3b3b3b; /* Body text color */
  margin-bottom: 8px;
}
#quill-container .ql-editor p:nth-child(1),
.blog-content.ql-container .ql-editor p:nth-child(1) {
  margin-top: 0;
}
#quill-container .ql-editor p:has(img),
.blog-content.ql-container .ql-editor p:has(img) {
  max-width: 40%;
}
#quill-container .ql-editor a,
.blog-content.ql-container .ql-editor a {
  text-decoration: none;
  color: #2979a9;
}
#quill-container .ql-editor ul li,
#quill-container .ql-editor ol li,
.blog-content.ql-container .ql-editor ul li,
.blog-content.ql-container .ql-editor ol li {
  font-size: 1.25em;
  line-height: 1.5rem;
  color: #3b3b3b;
}
#quill-container .ql-editor ul li:has(img),
#quill-container .ql-editor ol li:has(img),
.blog-content.ql-container .ql-editor ul li:has(img),
.blog-content.ql-container .ql-editor ol li:has(img) {
  max-width: 40%;
}
#quill-container .ql-editor .ql-code-block-container,
.blog-content.ql-container .ql-editor .ql-code-block-container {
  font-family: "Fira Code", Courier, monospace;
  background-color: transparent;
  padding: 16px;
  border-left: 4px solid #e3a689;
  color: #000;
  font-size: 0.9rem;
  line-height: 1.4;
  border: 0.2px #4c4c4c solid;
  border-radius: 16px;
}
#quill-container .ql-editor select,
.blog-content.ql-container .ql-editor select {
  color: #000;
}
#quill-container .ql-editor select option,
.blog-content.ql-container .ql-editor select option {
  color: #000;
}

table th.th-imageUrl {
  min-width: 100px;
}
table td.td-imageUrl {
  min-width: 100px;
}
table img {
  object-fit: contain;
}

.blog-card .content {
  display: -webkit-box; /* Enables the webkit box layout model */
  -webkit-box-orient: vertical; /* Sets the orientation to vertical */
  -webkit-line-clamp: 3; /* Limits the text to 3 lines */
  overflow: hidden; /* Hides any overflowing text */
  text-overflow: ellipsis; /* Adds the ellipsis (...) */
  line-height: 1.5; /* Adjust line height for spacing */
  max-height: 4.5em; /* Height to accommodate 3 lines */
  white-space: normal;
}

:root {
  --color-primary: 41, 121, 169; /* Converted #2979a9 to RGB */
  --color-clifford: 218, 55, 61; /* Converted #da373d to RGB */
  --color-foreground: 0, 0, 0; /* Converted #000 */
  --color-foreground-subtitle: 74, 85, 104; /* Converted #4a5568 to RGB */
  --color-background: 255, 255, 255; /* Converted #fff */
  --color-neutral-50: 255, 255, 255; /* Converted #ffffff */
  --color-neutral-100: 249, 250, 251; /* Converted #f9fafb to RGB */
  --color-neutral-200: 243, 244, 246; /* Converted #f3f4f6 to RGB */
  --color-neutral-300: 229, 231, 235; /* Converted #e5e7eb to RGB */
  --color-neutral-400: 209, 213, 219; /* Converted #d1d5db to RGB */
  --color-neutral-500: 156, 163, 175; /* Converted #9ca3af to RGB */
  --color-neutral-600: 107, 114, 128; /* Converted #6b7280 to RGB */
  --color-neutral-700: 75, 85, 99; /* Converted #4b5563 to RGB */
  --color-neutral-800: 55, 65, 81; /* Converted #374151 to RGB */
  --color-neutral-900: 31, 41, 55; /* Converted #1f2937 to RGB */
  --color-neutral-950: 17, 24, 39; /* Converted #111827 to RGB */
  --color-danger: 239, 68, 68; /* Converted #ef4444 to RGB */
}

body, .ql-snow .ql-editor {
  /* Headings */
  /* Paragraph */
  /* Blockquote */
}
body h1, .ql-snow .ql-editor h1 {
  font-size: 2.5rem; /* 40px */
  line-height: 1.3; /* 48px */
  font-weight: 500;
}
body h2, .ql-snow .ql-editor h2 {
  font-size: 2rem; /* 32px */
  line-height: 1.2; /* 40px */
  font-weight: 500;
}
body h3, .ql-snow .ql-editor h3 {
  font-size: 1.75rem; /* 28px */
  line-height: 1.2;
  font-weight: 500;
}
body h4, .ql-snow .ql-editor h4 {
  font-size: 1.5rem; /* 24px */
  line-height: 1.1;
  font-weight: 500;
}
body h5, .ql-snow .ql-editor h5 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 500;
}
body p, .ql-snow .ql-editor p {
  font-size: 1.25rem; /* 16px */
  line-height: 1.25; /* 28px */
  color: #1c1b1d; /* Body text color */
}
body blockquote, .ql-snow .ql-editor blockquote {
  font-style: italic;
  border-left: 4px solid #1d4ed8; /* Primary color */
  color: #374151; /* Dark Gray */
  padding-left: 1rem; /* Spacing for the border */
  margin: 1.5rem 0; /* Vertical spacing */
}

:root {
  --color-primary: 41, 121, 169; /* Converted #2979a9 to RGB */
  --color-clifford: 218, 55, 61; /* Converted #da373d to RGB */
  --color-foreground: 0, 0, 0; /* Converted #000 */
  --color-foreground-subtitle: 74, 85, 104; /* Converted #4a5568 to RGB */
  --color-background: 255, 255, 255; /* Converted #fff */
  --color-neutral-50: 255, 255, 255; /* Converted #ffffff */
  --color-neutral-100: 249, 250, 251; /* Converted #f9fafb to RGB */
  --color-neutral-200: 243, 244, 246; /* Converted #f3f4f6 to RGB */
  --color-neutral-300: 229, 231, 235; /* Converted #e5e7eb to RGB */
  --color-neutral-400: 209, 213, 219; /* Converted #d1d5db to RGB */
  --color-neutral-500: 156, 163, 175; /* Converted #9ca3af to RGB */
  --color-neutral-600: 107, 114, 128; /* Converted #6b7280 to RGB */
  --color-neutral-700: 75, 85, 99; /* Converted #4b5563 to RGB */
  --color-neutral-800: 55, 65, 81; /* Converted #374151 to RGB */
  --color-neutral-900: 31, 41, 55; /* Converted #1f2937 to RGB */
  --color-neutral-950: 17, 24, 39; /* Converted #111827 to RGB */
  --color-danger: 239, 68, 68; /* Converted #ef4444 to RGB */
}

@keyframes openModal {
  from {
    scale: 0.4;
  }
  to {
    scale: 1;
  }
}
.animate-open {
  animation: openModal 0.2s ease-in-out;
}

#homePage section {
  padding: 4rem 8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Layout for header, main, and footer */
body {
  line-height: 1.6;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
body a {
  color: inherit;
  text-decoration: none;
}

header {
  height: 64px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

/*# sourceMappingURL=styles.css.map */
