#editor-result {
  border: none;
}
#editor-result > * {
  font-family: Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
}
#editor-result h1,
#editor-result h2,
#editor-result h3,
#editor-result h4,
#editor-result h5,
#editor-result h6 {
  font-weight: 600;
}
#editor-result h1 {
  font-size: 2.5rem; /* 48px if 1rem = 16px */
}
#editor-result h2 {
  font-size: 2rem; /* 40px */
}
#editor-result h3 {
  font-size: 1.75rem; /* 32px */
}
#editor-result h4 {
  font-size: 1.5rem; /* 28px */
}
#editor-result h5 {
  font-size: 1.25rem; /* 24px */
}
#editor-result h6 {
  font-size: 1.125rem; /* 20px */
}
#editor-result p {
  font-size: 1rem; /* 18px */
}
#editor-result p:has(img) {
  display: flex;
  justify-content: center;
}
#editor-result p:has(img) img {
  max-width: 40%;
}
#editor-result ul li,
#editor-result ol li {
  font-size: 1rem;
}
#editor-result blockquote {
  font-size: 1.25rem; /* 20px */
  font-style: italic;
}
#editor-result .ql-code-block-container {
  background-color: #f4f4f4;
  padding: 10px;
  border-left: 4px solid #e3a689;
  color: #000;
  font-size: 1rem;
}

table th.th-imageUrl {
  min-width: 100px;
}
table td.td-imageUrl {
  min-width: 100px;
}
table img {
  object-fit: contain;
}

.blog-card .content {
  display: -webkit-box; /* Enables the webkit box layout model */
  -webkit-box-orient: vertical; /* Sets the orientation to vertical */
  -webkit-line-clamp: 3; /* Limits the text to 3 lines */
  overflow: hidden; /* Hides any overflowing text */
  text-overflow: ellipsis; /* Adds the ellipsis (...) */
  line-height: 1.5; /* Adjust line height for spacing */
  max-height: 4.5em; /* Height to accommodate 3 lines */
  white-space: normal;
}

body {
  /* Headings */
  /* Paragraph */
  /* Blockquote */
}
body h1 {
  font-size: 2.5rem; /* 40px */
  line-height: 3rem; /* 48px */
  font-weight: bold;
}
body h2 {
  font-size: 2rem; /* 32px */
  line-height: 2.5rem; /* 40px */
  font-weight: semi-bold;
}
body h3 {
  font-size: 1.75rem; /* 28px */
  line-height: 2.25rem; /* 36px */
  font-weight: semi-bold;
}
body h4 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 500;
}
body h5 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 500;
}
body p {
  font-size: 1rem; /* 16px */
  line-height: 1.75rem; /* 28px */
  color: #4b5563; /* Body text color */
}
body blockquote {
  font-style: italic;
  border-left: 4px solid #1d4ed8; /* Primary color */
  color: #374151; /* Dark Gray */
  padding-left: 1rem; /* Spacing for the border */
  margin: 1.5rem 0; /* Vertical spacing */
}

@keyframes openModal {
  from {
    scale: 0.4;
  }
  to {
    scale: 1;
  }
}
.animate-open {
  animation: openModal 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout for header, main, and footer */
body {
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
}
body a {
  color: inherit;
  text-decoration: none;
}

header {
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
main {
  margin-top: 64px;
  width: 100vw;
  padding: 32px 0;
}

/*# sourceMappingURL=styles.css.map */
