#quill-container.edit,
.blog-content.edit {
  overflow-y: auto;
  max-height: 70vh;
}
#quill-container .ql-editor,
.blog-content .ql-editor {
  border: none;
}
#quill-container .ql-editor > *,
.blog-content .ql-editor > * {
  font-family: Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
}
#quill-container .ql-editor h1,
#quill-container .ql-editor h2,
#quill-container .ql-editor h3,
#quill-container .ql-editor h4,
#quill-container .ql-editor h5,
#quill-container .ql-editor h6,
.blog-content .ql-editor h1,
.blog-content .ql-editor h2,
.blog-content .ql-editor h3,
.blog-content .ql-editor h4,
.blog-content .ql-editor h5,
.blog-content .ql-editor h6 {
  font-weight: 600;
}
#quill-container .ql-editor h1,
.blog-content .ql-editor h1 {
  font-size: 2.5rem; /* 48px if 1rem = 16px */
}
#quill-container .ql-editor h2,
.blog-content .ql-editor h2 {
  font-size: 2rem; /* 40px */
}
#quill-container .ql-editor h3,
.blog-content .ql-editor h3 {
  font-size: 1.75rem; /* 32px */
}
#quill-container .ql-editor h4,
.blog-content .ql-editor h4 {
  font-size: 1.5rem; /* 28px */
}
#quill-container .ql-editor h5,
.blog-content .ql-editor h5 {
  font-size: 1.25rem; /* 24px */
}
#quill-container .ql-editor h6,
.blog-content .ql-editor h6 {
  font-size: 1.125rem; /* 20px */
}
#quill-container .ql-editor p,
.blog-content .ql-editor p {
  font-size: 1rem; /* 18px */
}
#quill-container .ql-editor p:has(img),
.blog-content .ql-editor p:has(img) {
  display: flex;
  justify-content: center;
}
#quill-container .ql-editor p:has(img) img,
.blog-content .ql-editor p:has(img) img {
  max-width: 40%;
}
#quill-container .ql-editor ul li,
#quill-container .ql-editor ol li,
.blog-content .ql-editor ul li,
.blog-content .ql-editor ol li {
  font-size: 1rem;
}
#quill-container .ql-editor blockquote,
.blog-content .ql-editor blockquote {
  font-size: 1.25rem; /* 20px */
  font-style: italic;
}
#quill-container .ql-editor .ql-code-block-container,
.blog-content .ql-editor .ql-code-block-container {
  background-color: #f4f4f4;
  padding: 10px;
  border-left: 4px solid #e3a689;
  color: #000;
  font-size: 0.9rem;
  line-height: 1.4;
}
#quill-container .ql-editor select,
.blog-content .ql-editor select {
  color: #000;
}
#quill-container .ql-editor select option,
.blog-content .ql-editor select option {
  color: #000;
}

table th.th-imageUrl {
  min-width: 100px;
}
table td.td-imageUrl {
  min-width: 100px;
}
table img {
  object-fit: contain;
}

.blog-card .content {
  display: -webkit-box; /* Enables the webkit box layout model */
  -webkit-box-orient: vertical; /* Sets the orientation to vertical */
  -webkit-line-clamp: 3; /* Limits the text to 3 lines */
  overflow: hidden; /* Hides any overflowing text */
  text-overflow: ellipsis; /* Adds the ellipsis (...) */
  line-height: 1.5; /* Adjust line height for spacing */
  max-height: 4.5em; /* Height to accommodate 3 lines */
  white-space: normal;
}

body {
  /* Headings */
  /* Paragraph */
  /* Blockquote */
}
body h1 {
  font-size: 2.5rem; /* 40px */
  line-height: 3rem; /* 48px */
  font-weight: bold;
}
body h2 {
  font-size: 2rem; /* 32px */
  line-height: 2.5rem; /* 40px */
  font-weight: semi-bold;
}
body h3 {
  font-size: 1.75rem; /* 28px */
  line-height: 2.25rem; /* 36px */
  font-weight: semi-bold;
}
body h4 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 500;
}
body h5 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 500;
}
body p {
  font-size: 1rem; /* 16px */
  line-height: 1.75rem; /* 28px */
  color: #4b5563; /* Body text color */
}
body blockquote {
  font-style: italic;
  border-left: 4px solid #1d4ed8; /* Primary color */
  color: #374151; /* Dark Gray */
  padding-left: 1rem; /* Spacing for the border */
  margin: 1.5rem 0; /* Vertical spacing */
}

@keyframes openModal {
  from {
    scale: 0.4;
  }
  to {
    scale: 1;
  }
}
.animate-open {
  animation: openModal 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout for header, main, and footer */
body {
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
}
body a {
  color: inherit;
  text-decoration: none;
}

header {
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
main {
  margin-top: 64px;
  width: 100vw;
  padding: 32px 0;
}

/*# sourceMappingURL=styles.css.map */
