@import 'variables'; // Import variables

#quill-container,
.blog-content.ql-container {
  border-color: transparent;

  &.edit {
    overflow-y: auto;
    max-height: 70vh;
  }

  &#editor-result {
    .ql-editor {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .ql-editor {
    border: none;

    & > * {
      font-family: Quicksand, system-ui, sans-serif;
    }

    strong {
      font-weight: 400;
    }

    h1 {
      font-size: 2em; /* 40px */
      line-height: 3rem; /* 48px */
      font-weight: 600;
      margin-bottom: 16px;
      margin-top: 32px;

      &:nth-child(1) {
        margin-top: 0;
      }
    }

    h2 {
      font-size: 1.75em; /* 32px */
      line-height: 2.5rem; /* 40px */
      font-weight: 500;
      margin-bottom: 8px;
      margin-top: 16px;

      &:nth-child(1) {
        margin-top: 0;
      }
    }

    h3 {
      font-size: 1.5em; /* 28px */
      line-height: 2.25rem; /* 36px */
      font-weight: 500;
      margin-bottom: 8px;
      margin-top: 8px;

      &:nth-child(1) {
        margin-top: 0;
      }
    }

    h4 {
      font-size: 1.25em; /* 24px */
      line-height: 2rem; /* 32px */
      font-weight: 500;

      &:nth-child(1) {
        margin-top: 0;
      }
    }

    h5 {
      font-size: 1.25em; /* 20px */
      line-height: 1.75rem; /* 28px */
      font-weight: 500;

      &:nth-child(1) {
        margin-top: 0;
      }
    }

    /* Paragraph */
    p {
      font-size: 1.25em;
      line-height: 1.5rem;
      color: #3b3b3b; /* Body text color */
      margin-bottom: 8px;

      &:nth-child(1) {
        margin-top: 0;
      }

      &:has(img) {
        max-width: 40%;
      }
    }

    a {
      text-decoration: none;
      color: #2979a9;
    }

    ul,
    ol {
      li {
        font-size: 1.25em;
        line-height: 1.5rem;
        color: #3b3b3b;

        &:has(img) {
          max-width: 40%;
        }
      }
    }

    // blockquote {
    // }

    .ql-code-block-container {
      font-family: 'Fira Code', Courier, monospace;
      background-color: transparent;
      padding: 16px;
      border-left: 4px solid #e3a689;
      color: #000;
      font-size: 0.9rem;
      line-height: 1.4;
      border: 0.2px #4c4c4c solid;
      border-radius: 16px;
    }

    select {
      color: #000;
      option {
        color: #000;
      }
    }
  }
}

table {
  th {
    &.th-imageUrl {
      min-width: 100px;
    }
  }
  td {
    &.td-imageUrl {
      min-width: 100px;
    }
  }

  img {
    object-fit: contain;
  }
}

.blog-card {
  .content {
    display: -webkit-box; /* Enables the webkit box layout model */
    -webkit-box-orient: vertical; /* Sets the orientation to vertical */
    -webkit-line-clamp: 3; /* Limits the text to 3 lines */
    overflow: hidden; /* Hides any overflowing text */
    text-overflow: ellipsis; /* Adds the ellipsis (...) */
    line-height: 1.5; /* Adjust line height for spacing */
    max-height: calc(1.5em * 3); /* Height to accommodate 3 lines */
    white-space: normal;
  }
}

// input,
// textarea {
//   &.input {
//     border: map-get($thickness, md) solid $border-color;
//     padding: map-get($sizes, xs) map-get($sizes, md);
//     border-radius: map-get($sizes, xs);
//     color: map-get($primary-colors, base);

//     &:hover {
//       border-color: map-get($primary-colors, base);
//     }

//     &:focus-visible {
//       outline: map-get($thickness, xs) solid map-get($primary-colors, base); /* Removes default focus outline */
//     }
//   }
// }

// button {
//   &.btn {
//     padding: map-get($sizes, xs) map-get($sizes, md);
//     border: map-get($thickness, md) solid $border-color;
//     border-radius: map-get($sizes, xs);
//     color: map-get($neutral-colors, 1);

//     i {
//       font-size: 1rem;
//     }

//     &:hover {
//       border-color: map-get($primary-colors, base);
//       color: map-get($primary-colors, base);
//     }

//     &.btn-primary {
//       background-color: map-get($primary-colors, base);
//       color: map-get($neutral-colors, 10);
//       border: none;
//       &:hover {
//         border: none;
//         background-color: map-get($primary-colors, light);
//       }
//     }

//     &.btn-secondary {
//       background-color: map-get($secondary-colors, base);
//       color: map-get($neutral-colors, 1);
//       border: none;
//       &:hover {
//         background-color: map-get($secondary-colors, light);
//       }
//     }

//     &.btn-text {
//       color: map-get($neutral-colors, 1);
//       border: none;
//       &:hover {
//         background-color: map-get($neutral-colors, 9);
//       }
//     }
//   }
// }

// form {
//   .form-item {
//     display: grid;

//     &:not(:first-child) {
//       margin-top: map-get($thickness, md);
//     }

//     &.actions {
//       display: flex;
//       flex-direction: row;
//       justify-content: end;
//       gap: map-get($thickness, md);
//     }
//   }

//   label {
//   }

//   .form-control {
//     margin-top: map-get($sizes, xs);
//   }

//   .form-error {
//     color: map-get($danger-colors, base);
//   }
// }
