@import 'variables'; // Import variables
@import 'components';
@import 'custome-bs';
@import 'typography';
@import 'utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

/* Layout for header, main, and footer */
body {
  font-family: Helvetica, sans-serif;
  line-height: 1.6;

  a {
    color: inherit;
    text-decoration: none;
  }
}

header {
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  nav {
  }
}

main {
  margin-top: 64px;
  width: 100vw;
  padding: 32px 0;
}

// .color-primary {
//   color: map-get($primary-colors, base);
// }

// .color-secondary {
//   color: map-get($secondary-colors, base);
// }

// .color-contrast {
//   color: map-get($neutral-colors, 10);
// }
